*{
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

@font-face {
    font-family: 'plus-jakarta';
    src: url(../fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

/* COSO DE NAVEGACION Y FONDO*/

.logo {
    margin: 0;
    width: 100%;
    height: 75px;
}

a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}


.bg-violeta{  
    font-family: plus-jakarta;
    background-color: #210831;
    color: white;
}

.nav-cor{
    color: white;
}

body{
    background-image: url(../img/galaxy.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/* BOTONES SEGUIDORES */

.wasap {
    width: 70px;
    position: fixed;
    left: 15px;
    bottom: 20px;
    z-index: 1;
}

.arriba {
    width: 65px;
    position: fixed;
    right: 15px;
    bottom: 20px;
    z-index: 1;
}

/* BLOQUE DE BIENVENIDA */

.bienvenida {
    background-image: url(../img/vatrawall.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    text-align: center;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px rgb(192, 15, 228);
    margin-bottom: 75px;
    
    h2 {
        text-align: center;
        font-weight: 550;
        font-size: 45px
    }
}

.wall {
    border: 12px solid grey;
    border-left-color: rgb(70, 70, 70);
    border-right-color: rgb(70, 70, 70);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#carouselExample {
    z-index: -1;
    width: 70%;
}

.carousel-item img {
    height: 200px;

}

@media (min-width: 520px) {
    .carousel-item img {
        height: 250px;
    }
}
@media (min-width: 768px) {
    .carousel-item img {
        height: 375px;
    }
}

@media (min-width: 1024px) {
    .carousel-item img {
        height: 450px;
    }
}

@media (min-width: 1440px) {
    .carousel-item img {
        height: 600px;
    }
}
/* ------------------------- CARDS DE PRODUCTOS Y EL DESTACADO ----------------------- */

.cards-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px 100px;
    margin-bottom: 30px;
}

.destacado {
    background-color: #071725;
    margin: 50px 0;
    padding: 20px 0;
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    text-align: center;
    font-weight: 600;
}

.card {
    border-radius: 10px;
    background-color: rgb(33, 8, 56);
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 17px;

    img {
        height: 250px;
        width: 100%;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
    }

    &:hover {
        box-shadow: 0 10px 20px rgb(255, 255, 255, 0.20);
    }
}

.infocard{
    display: flex;
    padding: 10px;
    line-height: 2;
    flex-direction: column;

    button {
        cursor: pointer;
        font-size: 15px;
        margin: 2px 0;
        border: none;
        background: none;
        background-color: black;
        color: white;
        padding: 0px 15px;
    }
}

/* ------------------------- LA CAJA NEGRA ESA ------------------------- */

#blackcage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    background-color: black;
    color: white;
    font-family: sans-serif;
    margin: 0 20px;
    margin-bottom: 50px;
    padding: 50px 50px;
    border: 7px solid grey;
    border-left-color: rgb(70, 70, 70);
    border-right-color: rgb(70, 70, 70);
    text-align: center;
    font-size: 25px;
}

.item1 i, .item2 i , .item3 i{
    font-size: 40px;
}

.item1 p, .item2 p, .item3 p{
    margin: 0 100px;
    font-size: 15px;
}

.item1 {
    grid-area:item1;
}

.item2 {
    grid-area:item2;
}

.item3 {
    grid-area:item3;
}

@media (min-width: 768px) {
    #blackcage {
        display: grid;
        grid-template-areas:
        "item1 item2"
        "item3 item3";
    }
}

@media (min-width: 1024px) {
    #blackcage {
        display: grid;
        grid-template-areas:
        "item1 item2 item3";
    }
}

@media (min-width: 1440px) {
    #blackcage {
        display: grid;
        grid-template-areas:
        "item1 item2 item3";
    }
}




.paga {
    padding: 25px 0px;

    p {
        margin-top: 2px;
        font-size: 25px;
        font-style: normal;
        font-weight: 20;
    }
}

h3 {
    font-size: 30px;
}

/* ----------------- SECCIONES ---------------- */

.catalog {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 50px;
    margin: 50px 50px;
}

.contenedor {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #210831;
    color: white;
    font-family: plus-jakarta;

    &:hover{
        box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);
    } 

    img {
        width: 200px;
    }

}

.buzinho {
    height: 230px;
}

.reverse {
    flex-direction: row-reverse;
    text-align: right;
}




/* ----------------------- TODO EL PIE DE PAGINA ----------------------------- */

.lista-foot {
    display: flex;
    justify-content: center;
    padding-right: 25px;
    img {
        width: 70px;
        z-index: 1;
    }

}

footer {
    font-family: plus-jakarta;
    background-color: #190725;
}

#spotipie {
    width: 120px;
}

.pie {
    padding-top: 15px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    font-weight: 60;
    text-align: center;
    p {
        margin-bottom: 3px;
    }
}

.lista-foot {
    ul {
        li {
        display: inline;
        }
    }
}



/* ------------------- REGISTRO ----------------- */

/* No llegue a terminar esta parte por ahora pero para la proxima va a estar mas completo */

.cont-registro {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.5);
}

.cont-res-pad {
    margin: 30px auto;
    max-width: 1000px;
}

.unete {
    background-color: black;
    color: white;

    h3 {
        text-align: center;
    }

    p {
        text-align: center;
    }
}

.registro{

    form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            color: white;
            background-color: #1e0130;

            label {
                display: block;
            }

            p {
                padding: 10px 20px;
            }

            button {
                width: 100%;
                padding: 10px 20px;
                border: none;
                background: none;
                outline: 0;
                color: #ffffff;
                border-bottom: 1px solid #406bfa;
            }

            input {
                width: 100%;
                padding: 10px 20px;
                border: none;
                background: none;
                outline: 0;
                color: #ffffff;
                border-bottom: 1px solid #406bfa;
            }

            button {
                background: #022b79;
                border: 0;
                text-transform: uppercase;
                padding: 10px;
            }
        }
}

.botonzim {
    grid-column: 1 / 3;
}

/* ---------------------- NOSOTROS -------------------- */

.faq {
    background-color: rgb(10, 28, 54);
    padding: 20px;
    margin-bottom: 45px;
    text-align: center;
    color: aliceblue;
}

.acordeon {
    margin: 25px 25px;

    &:hover {
        box-shadow: 0px 0px 20px rgba(57, 225, 255, 0.2);
    }

}

.caja-nos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    background-color: rgb(31, 0, 43);
    color: white;
    font-family: sans-serif;
    margin: 0 50px;
    margin-bottom: 50px;
    padding: 50px 50px;
    border: 7px solid grey;
    border-left-color: rgb(70, 70, 70);
    border-right-color: rgb(70, 70, 70);
    text-align: center;
    font-size: 30px;

    p {
        padding: 15px 0px;
    }
}

.marcas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0px;
    font-family: sans-serif;
    background-color: white;
    border: 7px solid grey;
    border-left-color: rgb(70, 70, 70);
    border-right-color: rgb(70, 70, 70);
    font-size: 30px;  
    color: black;
    text-align: center;
    font-weight: 600;
    
    li {
        display: inline;
        padding: 15px;
    }
}

.jolog {
    width: 150px;
    height: 100px;
}

.niklog {
    height: 70px;
    width: 200px;
}

.vatrlg {
    height: 150px;
    width: 150px;
}

.adlog {
    height: 100px;
    width: 150px;
}

.mapa {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

/* Claramente mucha informacion de la pagina va asi nomas o lugares que nada que ver por el hecho de que es una dada por amigos y todavia no existe */